*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    height:100vh;
    font-family: Verdana;
}
.header{
    padding: 100px 100px 100px 100px;
    background-color: white;
    width:100%;
    height: 50%;
    font-size: 20px;
}

.block1{
    width: 50%;
    height: 50%;
    background-color: rgb(17, 185, 185);
    padding: 60px 60px 60px 60px;
    font-size: 20px;
    color: #fff;
    float: left;
}

.block2{
    width: 50%;
    height: 50%;
    background-color: rgb(80, 149, 172);
    padding: 60px 60px 60px 60px;
    font-size: 20px;
    color: #fff;
    float: left;
}

input{
    background-color: rgb(163, 163, 7);
    padding: 20px 100px;
    width: 250px;
    margin-top: 30px;
    font-size: 1rem;
    color: #fff;
    box-sizing: initial;
    box-shadow: initial;
}
@media (max-width:768px){
    .header{
        font-size: 16px;
        height:40vh;
        width:100%;
        padding:40px 35px 40px 35px;
    }
    .block1{
        font-size: 16px;
        height: 30vh;
        width:100%;
        padding:30px 30px 30px 30px;
    }
    .block2{
        font-size: 16px;
        height:30vh;
        width:100%;
        padding:30px 30px 30px 30px;
    }
    input{
        font-size:0.6rem;
        width:125px;
        margin-top:15px;
        padding:10px 50px;
    }
}






